body { 
    text-align: center; 
    padding: 20px; 
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal; 
    color: #333; 
  }
  
  h1 { 
    font-size: 50px;
  }
  
  
  #tic-tac-toe {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 30px;
  }
  
  .status {
    font-size: 30px;
  }
  
  .congrats-message {
    animation-name: fadeIn, moveLeft300px, bounce;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }
  
  .winner {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .winner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  
    font-size: 50px;
  }
  
  .winner-gif {
    animation-name: fadeIn, moveLeft300px;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }
  
  .reset {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal; 
    font-size: 20px;
    padding: 10px;
  
    width: 150px;
    height: 50px;
  
    border: 2px solid black;
    border-radius: 10px;
    background: white;
  }
  
  .reset:hover {
    background: rgb(229, 229, 229);
    transition: all 200ms ease;
  }